@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";

:root,
:root.normal{
    --body-bg: #f4eded59;
}
:root.dark-mode{
    --body-bg:black;
}
:root.postit{
    --body-bg:brown;
}
:root.sky{
    --body-bg:lightblue;
}
:root.bubbles{
    --body-bg:rgb(21, 106, 135);
}
:root.pink-mode{
    --body-bg:#ffcad4;
    --color:#e75480;
  }

*{
    color: var(--color);
    transition: 300ms;
}
body{
    background-color: var(--body-bg);
  }