@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css";

/* ---- Temas ---- */
/*Normal*/
:root,
:root.normal{
    /*General*/
    --body-bg: #fcfcfc;
    /*NewTask*/
    --newtask-bg:white;
    --newtask-color: #a09f9f;
    /*Filters*/
    --filter-bg:white;
    --filter-color: #5c5d60;
    /*Task*/
    --task-title: #5c5d60;
    --task-bg: white;
    --task-color: #5c5d60;
    /*Task - Complete*/
    --task-complete-bg: #efefef;
    --task-complete-border:solid 1px lightgray;
    --task-complete-color:#5c5d60;
}
/* Modo oscuro */
:root.dark-mode{
    --body-bg:#130f25;
    /*NewTask*/
    --newtask-bg:#1d1734;
    --newtask-color: white;
    /*Filters*/
    --filter-bg:#382f60;
    --filter-color: white;
    /*Task - Active*/ 
    --task-minheight: unset;
    --task-title:#4b81ab;
    --task-bg: #382f60;
    --task-color: #686e94;
    --task-hour: #a45fbe;
    /*Task - Complete*/
    --task-complete-bg: #151d2f;
    --task-complete-border:none;
    --task-complete-color:#686e94;
}
/* Modo rosa */
:root.pink-mode{
    --body-bg: linear-gradient(62deg, #E0C3FC 0%, #ffd6f5 50%);
    ;
    /*Filters*/
    --filter-color: #a09f9f;
    /*Task - Active*/
    --task-title:#9b38fe;
    --task-bg: #edc8ff;
    --task-color: #9e69fa;
    --task-hour: #bb00ff;
    /*Task - Complete*/
    --task-complete-bg: #daefff;
    --task-complete-color:rgb(80, 146, 165)
    ;
    --task-complete-border:none;

}
 /* "Post it" */
:root.postit{
    --body-bg: url('./assets/postit-background.jpg');
    --task-minheight: 300px;
    /*Filters*/
    --filter-bg:#00bbff;
    --filter-color: white;
    /*Task - Active*/
    --task-bg: #ffe93e;
    /*Task - Complete*/
    --task-complete-bg: hsl(0, 100%, 61%);
    --task-complete-border:solid 1px rgb(151, 151, 151);
    --task-complete-color:#5c5d60;
}

/* Modo nubes */
:root.sky{
    --body-bg: url('./assets/sky-background.jpg');
}




/* General */
*{    
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: 300ms;
}
html, body {
    height: 100vh;
    background: var(--body-bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*Forms */

input::placeholder{    
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}